
/* Universal Elements */
* {
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #24252A;
}

/* Nav */
li, a, button {
    font-size: 16px;
    color:#c6ffdd
}

h1 {
    font-size: 16px;
    margin: left;
    color:rgb(253, 166, 166)
}

h2 {
    font-size: 50px;
    padding-left: 50px;
    padding-top: 40px;
    color: indigo;
    font-style: italic;
}

.link {
    list-style: none;
}

.links li {
    display: inline-block;
    margin-right: 50px;
  
}

.links li a:hover{
    color: red;
} 

button {
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: black;
}
/* End Nav */


/* Hero Image */
.hero-container {
  display:flex
}

.hero-card img{
    max-width: 100%;
    max-height: 500px;
}

/* Body */
body {
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}


/* About */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 300px;
    width: 400px;
}

h3 {
    color:rgb(63, 14, 98);
    margin-top: 22px;
}

.card img {
    height: 250px;
    width: 250px;
    margin-left: 60px;
    margin-top: 29px;
}

.caseStudycontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.caseStudycard {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 200px;
    width: 200px;
}

.caseStudycard2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 300px;
    width: 300px;
}

.caseStudycard img {
    height: 100px;
    width: 170px;
    margin-top: 30px;
    margin-left: -5px;
    border-radius: 50px;
}

.caseStudycard2 img {
    height: 260px;
    width: 260px;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.contactContainer p {
    margin-top: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: -15px;

}

.box {
    padding: 12px;
    margin: 10px;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1rem;
}

#submit{
  width: 30%;
  padding: 7px; 
  border-radius: 25%;
  font-size: 1rem;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  cursor: pointer;
}

#submit:hover {
    background: rgb(253, 166, 166);
    color: black;
}
    

    

  


